node_modules/
.env
.env.local
.DS_Store
*.log
dist/
build/
package-lock.json
settings.json
.gcloudignore
index.html
firebase.json
backup

# Puppeteer cache
functions/.cache/
.cache/

# Firebase cache
.firebase/
*-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log
